.nav-section{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px; 
    box-shadow: 0px 20px 20px ;
    margin-left:35px ;
    margin-right:35px ;
}
.btn-containur{
    display: flex; 
}
button{
    background-color: palegoldenrod;
    height: 30px;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 50px;
}
.logo-containur{
    display: flex;
}
.head-logo{
    height: 100px;
    width: 100px;
}
.img-dicrection{
    width: 20px;
    height: 20px;
    padding: 2px;
}
.prebook{
    height: 32px;
    display: flex;
    align-items: center;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left:35px ;
    margin-right:35px ;
}
.hero-1 h2{
    margin-bottom:-10px;
}
.hero-1 p{
    margin-bottom:-10px;
}
.hero-1{
    margin-left: 20px;
}
.logo-container{
    display: flex;
    margin-left: 10%; 
}
.logo-container .mid-logo{
    margin-left: 30px;
    width: 100px;
}
.copyright-icon{
    height: 20px;
    width: 20px;
}
.footer-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-left:35px ;
    margin-right:35px ;
}
.footer-section h2{
margin-bottom: -13px;
}
.footer-icon img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.hero-section-1{
    display: flex;
    justify-content: space-between;  
    margin-left:100px ;
    margin-right:100px ;
}
.hero-pic img {
    width: 250px;
    height: 250px;
    margin-left: 200px;
    border-radius: 20px;
}
.hero-text{
    width: 600px;
    margin-left: -100px;
}
.product-titile{
    margin-top: 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 10px 15px rgba(202, 94, 94, 0.5);
    width: 400px ;
    margin-left: 33%;
    padding: 10px;
}
.product-card{
    border: 1px solid white;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
}
.product-name{
    font-size: 28px;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
    margin-bottom: -13px;

}
.product-price{
    font-size: 24px;
    margin-bottom: -15px;
}
.product-reating{
    font-size: 22px;
    margin-bottom: -8px;
}
.product-description{
    font-size: 19px;
    font-weight: bold;
}
.card-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.product-container{
    margin-left:35px ;
    margin-right:35px ;
    margin-bottom:35px ;

}
.product-card{
    margin: 0 auto;
}
.product-card:hover{
    box-shadow: 0 15px 20px blue ;
}
.card-see{
    width: 100px;
    margin-left: 275%;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    text-align: center;
}
.hero-section-1{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 20px;
}